.titles .title{
    font-size: 30px;
    margin-bottom: 10px;
}

.header.dark .titles .title{
    color: hsl(0, 0%, 100%);
}

.header.dark .titles .followers{
    color: hsl(228, 34%, 66%);
}

.header.light .titles .title{
    color: hsl(230, 17%, 14%);
}

.header.light .titles .followers{
    color: hsl(228, 12%, 44%);
}

@media(max-width:800px){
    .titles .title{
        font-size: 22px;
    }
}