.allFollowers{
    display: flex;
    margin-bottom: 40px;
}

@media(max-width:1024px){
    .allFollowers{
        margin-bottom: 20px;
    }
}

@media(max-width:800px){
    .allFollowers{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
    }
}

@media(max-width:500px){
    .allFollowers{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
}