.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 30px 40px;
}

.overview.dark .card{
    background-color: hsl(228, 28%, 20%);
}

.overview.light .card{
    background-color: hsl(227, 47%, 96%);
}

.card .info, .card .numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info .cardTitle{
    font-weight: 700;
    font-size: 14px;
}

.overview.dark .cardTitle{
    color: hsl(228, 34%, 66%);
}

.overview.light .cardTitle{
    color: hsl(228, 12%, 44%);
}

.info i{
    font-size: 26px;
}

.numbers .value{
    font-size: 40px;
    font-weight: 700;
}

.overview.dark .value{
    color: hsl(0, 0%, 100%);
}

.overview.light .value{
    color: hsl(230, 17%, 14%);
}

.numbers .percentage{
    align-self: flex-end;
}

@media(max-width:1024px){
    .card{
        width: 210px;
        padding: 30px;
    }

    .numbers .value{
        font-size: 24px;
    }
}

@media(max-width:500px){
    .card{
        width: 300px;
    }
}