.overview h2{
    margin-bottom: 20px;
}

.overview.dark h2{
    color: hsl(228, 34%, 66%);
}

.overview.light h2{
    color: hsl(228, 12%, 44%);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}